<html>
<head>
    <meta content="atl.admin" name="decorator" />
    <title>$i18n.getText("livereload.title")</title>
</head>
<body>
    <h2>$i18n.getText("livereload.title")</h2>
    <br/>
    <div id="lrhello">Hello!!!!</div>
</body>
</html>